[core]
    editor = code --wait
    autocrlf = true
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[color]
    ui = auto

[pull]
    rebase = false

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    last = log -1 HEAD
    unstage = reset HEAD --
    visual = !gitk
